span.add {
    margin: 0 3pt;
}

.add a {
    padding: 0 6px;
    text-decoration: none;
    background-color: #6b6e71;
    border-radius: 8px;
}

table.admlist {
    margin: auto;
    border-collapse: collapse;
    font: 400 11pt "Fira Sans Extra Condensed", sans-serif;
}

.admlist caption {
    padding: 4px 5pt;
    text-align: right;
    color: #3b3e41;
    white-space: nowrap;
}

.admlist th {
    color: #3b3e41;
    padding: 4px 6pt;
    font-weight: 400;
    border-bottom: 1px solid #3b3e41;
}

.adb td {
    padding: 8px 6pt;
    text-align: left;
    font-size: 10pt;
}

.adb tr:nth-child(odd) {
    background-color: #ebeef0;
}

.adb tr:nth-child(even) {
    background-color: #dbdee1;
}

.adb tr:hover {
    color: #6db8f7;
    background-color: #3b3e41;
    cursor: pointer;
}

form.adm_form {
    padding: 30px 30pt;
    background-color: #dbdede;
    border: 1px solid #bbbec1;
    border-radius: 10px;
}

div.view_form_row {
    text-align: left;
    padding: 8px 5pt;
}

.view_form_row label {
    margin-right: 5pt;
    font-size: 11pt;
}

div.adm_form_row {
    text-align: right;
    padding: 5px 5pt 15px;
}

.adm_form_row label {
    margin: 0 8pt;
    /*color: #ebeef1;*/
    text-align: right;
}

div.admfmctrls {
    margin-top: 15px;
    margin-right: 5pt;
    text-align: right;
}

.adm_form_row input, .adm_form_row textarea {
    margin-left: 5pt;
    padding: 2px 5pt;
    width: 200px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    color: #333333;
    background-color: #ebeeee;
}

.adm_form_row textarea {
    resize: none;
}